In [ ]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple '''

In [1]:
name = "Saugat" # string type

In [2]:
list = [1,2,3,4,5] # list type

In [3]:
float = 3.99 #float type

In [6]:
tuple = (9,8,7,6) #tuple

In [8]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1
What will be the data type of the above given variable.'''

'Q2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1\nWhat will be the data type of the above given variable.'

In [9]:
var1 = ''# string type

In [10]:
type(var1)

str

In [14]:
var2 = '[ DS , ML , Python]' #string type

In [15]:
type(var2)

str

In [17]:
var3 = [ 'DS' , 'ML' , 'Python' ] #list type

In [18]:
type(var3)

list

In [21]:
var4 = 1 #int type

In [22]:
type(var4)

int

In [24]:
  '''Q3. Explain the use of the following operators using an example:
  (i) /
  (ii) %
  (iii) //
  (iv) **'''

'Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **'

In [26]:
print("6 divided by 3 is : ",6/3)

6 divided by 3 is :  2.0

In [27]:
print("When we divide 6 by 4 the remainder is: ",6%4)

When we divide 6 by 4 the remainder is:  2

In [28]:
print ("When we divide 10 by 3 the floor division value is: ",10//3)

When we divide 10 by 3 the floor division value is:  3

In [29]:
print("When we raise the power of 2 by 3 the result is: ",2**3)

When we raise the power of 2 by 3 the result is:  8

In [30]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [31]:
 list10 = ['saugat', 2,'computer', 4.9, 55, 'pwskill', 7, 8, 9, 10]

In [32]:
for i in list10:
    print(i,type(i))

saugat <class 'str'>
2 <class 'int'>
computer <class 'str'>
4.9 <class 'float'>
55 <class 'int'>
pwskill <class 'str'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>

In [33]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

'Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [1]:
A = int(input("Enter first number A"))
B = int(input("Enter second numkber B"))
count = 0
while(A%B==0):
    count += 1
    A //= B
print("Number A is divisible by number B for",count, "times")

Enter first number A 9
Enter second numkber B 3

Number A is divisible by number B for 2 times

In [2]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.'

In [10]:
list25 = list(range(1, 26))
for i in list25:
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24

In [11]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''
#Mutable data type- the data type is a type of object whose state can be changed after we creat it. eg list,sets,dictionaries
#Immutable data type- the data type is a typoe of object whose state can not be changed after we creat it.

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing\nthis property.'